{% extends "layouts/main.html" %}

{% set pageName="Accessibility statement" %}

{% set accessibilityContent %}
# {{pageName}}

This is paragraph text.

## How accessible this website is

- bullet 1
- bullet 2
- bullet 3

### What to do if you cannot access parts of this website

1. Item 1
2. Item 2
3. Item 3

This is a [link](https://www.gov.uk) to GOV.UK.

{% endset %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ accessibilityContent | govukMarkdown({headingsStartWith:'l'}) }}
    

  </div>
</div>

{% endblock %}